* {
	margin: 0;
}

body {
	background-color: #f5f6fa;
}

.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.app__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.app__header > h1 {
	color: #fc3c3c;
	font-size: 2rem;
}

.app__dropdown {
	background-color: white;
}

.app__right {
	display: flex;
	flex-direction: column;
}
.app__right .MuiCardContent-root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.app__graph {
	flex-grow: 1;
}
.app__graphTitle {
	margin-top: 20px;
}

.app__stats {
	display: flex;
	justify-content: space-between;
}

.app__left {
	flex: 0.9;
}

@media (max-width: 800px) {
	.app {
		flex-direction: column;
	}
}
