.infoBox {
	flex: 1;
	cursor: pointer;
}

.infoBox--selected {
	border-top: 10px solid greenyellow;
}
.infoBox--red {
	border-color: red;
}
.infoBox--green {
	color: rgb(105, 216, 105) !important;
}

.infoBox:not(:last-child) {
	margin-right: 15px;
}

.infoBox__cases {
	color: #cc1034;
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
}

.infoBox__total {
	color: #6c757d;
	font-weight: 700 !important;
	font-size: 0.8rem !important;
	margin-top: 15px !important;
}
